@model MSI.Catastros.Web.Funcionalidad.DetalleVias.FiltrarDetalleViasViewModel

@if (Model.listDetalleVias != null || Model.listDetalleVias.Count() > 0)
{
    <div class="table-responsive">
        <table id="tablaDetalleVia" class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Acciones</th>
                    <th>Código</th>
                    <th>Nombre Vía</th>
                    <th>Cuadra</th>
                    <th>Ancho Vía</th>
                    <th>Medida Vía</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.listDetalleVias.Count() > 0)
                {
                    foreach (var item in Model.listDetalleVias)
                    {
                        <tr>
                            <td align="center">
                                @Ajax.ActionLink(" ", "Editar", "DetalleVias"
                          , new { idDetalle = item.CodigoDetalleVia, idVia = item.CodigoVia }
                                , new AjaxOptions
                                        {
                                            HttpMethod = "Get",
                                            InsertionMode = InsertionMode.Replace,
                                            UpdateTargetId = "modalDetalleVias"
                                        }
                                ,
                                new
                                {
                                    @class = "btn btn-default glyphicon glyphicon-edit",
                                    @type = "button",
                                    data_toggle = "modal",
                                    data_target = "#modalDetalleVias"

                                }
                           )
                                @Ajax.ActionLink(" ", "Eliminar", "DetalleVias"
                          , new { idDetalle = item.CodigoDetalleVia, idVia = item.CodigoVia }
                                , new AjaxOptions
                                        {
                                            HttpMethod = "Get",
                                            UpdateTargetId = "modalEliminarDetalleVias"
                                        }
                                ,
                                new
                                {
                                    @class = "btn btn-danger glyphicon glyphicon-remove",
                                    @type = "button",
                                    data_toggle = "modal",
                                    data_target = "#modalEliminarDetalleVias"

                                }
                           )
                            </td>
                            <td>@Html.DisplayFor(modelItem => item.CodigoVia)</td>
                            <td>@item.DescVia</td>
                            <td>@item.NumCuadra</td>
                            <td>@item.AnchoVia</td>
                            <td>@item.MedidaVia</td>

                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td class="text-left" colspan="5">No hay registros</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
