
<div id="DocumentoRRPPContainer">
    @Html.AntiForgeryToken()
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-hidden="true">
                    &times;
                </button>
                <h4 id="TituloDocumentos">Registrando Titular</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="table-responsive">
                            <table id="TablaUnidadPaso3" class="display table table-bordered" width="100%">
                                <thead>
                                    <tr>
                                        <th>Dist</th>
                                        <th>Sec</th>
                                        <th>Mz</th>
                                        <th>Lote</th>
                                        <th>Ed</th>
                                        <th>Entr</th>
                                        <th>Piso</th>
                                        <th>Unidad</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
                @*@Html.HiddenFor(m => m.CodigoCorrDirecUnidad)*@
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="form-group">
                            <label class="radio-inline control-label"><input type="radio" name="BusquedaRadio" value="1" checked>Código Contribuyente</label>
                            <label class="radio-inline control-label"><input type="radio" name="BusquedaRadio" value="2">Tipo Documento y Número Documento</label>
                            <label class="radio-inline control-label"><input type="radio" name="BusquedaRadio" value="3">Razón Social</label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">

                        <div class="col-md-2 DivCodigo">
                            <label class="control-label">Codigo Contribuyente</label>
                        </div>
                        <div class="col-md-4 DivCodigo">
                            <input class="form-control" type="text" id="CodigoContribuyente" />
                        </div>

                        <div class="col-md-2 DivTipoDocumento">
                            <label class="control-label">Tipo Documento</label>
                        </div>

                        <div class="col-md-3 DivTipoDocumento">
                            @Html.DropDownList("CodigoTipoDocumentoIdentidad", new SelectList(ViewBag.ListVBTipoDocumentoIdentidad, "value", "text"), "- Seleccione...", new { @class = "form-control" })
                        </div>

                        <div class="col-md-2 DivTipoDocumento">
                            <label class="control-label">Número Documento</label>
                        </div>

                        <div class="col-md-3 DivTipoDocumento">
                            <input class="form-control" type="text" id="NumeroDocumento" />
                        </div>


                        <div class="col-md-2 DivRazonSocial">
                            <label class="control-label">Razón Social</label>
                        </div>

                        <div class="col-md-8 DivRazonSocial">
                            <input class="form-control" type="text" id="RazonSocial" />
                        </div>
                        <button class="btn btn-github glyphicon glyphicon-search" type="button" id="btnBuscarTitular"></button>

                    </div>
                </div>
                <br />

                <div class="row">
                    <div class="col-md-12">

                        <table id="tablaTitularRentas" style="width:100%" class="table responsive display table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th width="5%">Nro.</th>
                                    <th style="width:15%" width="15%">Tipo Documento <br /> Identidad</th>
                                    <th style="width:15%" width="15%">Nro. Documento <br /> Identidad</th>
                                    <th style="width:25%" width="25%">Nombre o Razón Social</th>
                                    <th style="width:10%" width="10%">Codigo de <br /> Contribuyente</th>

                                    <th style="width:10%" width="10%">Tipo de <br /> Propietario</th>
                                    <th style="width:10%" width="10%"></th>
                                    @*<th></th>*@
                                    @*<th></th>
                                        <th></th>*@
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <br />

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Tipo Documento Identidad</label>
                            <input type="text" disabled class="form-control" id="txtDocumentoIdentidad" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Número Documento Identidad</label>
                            <input type="text" disabled class="form-control" id="txtNumeroDocIdentidad" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Codigo Contribuyente</label>
                            <input type="text" disabled class="form-control" id="txtCodigoContributente" />
                        </div>
                    </div>

                    <div class="col-md-8">
                        <div class="form-group">
                            <label class="control-label">Contribuyente</label>
                            <input type="text" disabled class="form-control" id="txtContributente" />
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Tipo Propietario</label>
                            <input type="text" disabled class="form-control" id="txtTipoPropietario" />
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Condición Propiedad</label>
                            @Html.DropDownList("cbCondicionPropiedad", new SelectList(ViewBag.ListVBCondicionPropietario, "value", "text"), "- Seleccione...", new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Porcentaje</label>
                            <input type="text" class="form-control" id="txtPorcentaje" />
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <div class="col-md-offset-2 col-md-10">
                    <input id="btnGrabarTitularRentas" type="submit" value="Grabar" class="btn btn-success" />
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/assets/vendor/datatables-checkboxes/js/dataTables.checkboxes.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#txtPorcentaje').number(true, 4, '.', '');
        tablaUnidadPaso3 = $("#TablaUnidadPaso3").DataTable({
            "processing": false,
            "serverSide": false,
            "paging": false,
            "language": { "lengthMenu": "", "info": "", "emptyTable": "" },
            "columns": [
                { "data": "Distrito", "className": "text-center" },
                { "data": "Sec", "className": "text-center" },
                { "data": "Manzana", "className": "text-center" },
                { "data": "Lote", "className": "text-center" },
                { "data": "Ed", "className": "text-center" },
                { "data": "Entr", "className": "text-center" },
                { "data": "Piso", "className": "text-center" },
                { "data": "Unidad", "className": "text-center" }
            ]
        });
        debugger;
        tablaUnidadPaso3.clear().draw();
        $.each(ListunidadCatastralDireccion, function (index, entry) {
            tablaUnidadPaso3.row.add(entry).draw();
        });
        var tablaTitularRentas = $("#tablaTitularRentas").DataTable({
            "ajax": {
                "url": "@Url.Content("~/UnidadCatastral/CargarTitularRentas")",
                "type": "POST",
                "datatype": "json",
                "data": function (d) {
                    // -- Agregar campos de busqueda
                    d.CodigoContribuyente = $('#CodigoContribuyente').val();
                    d.CodigoTipoDocumentoIdentidad = $('#CodigoTipoDocumentoIdentidad').val();
                    d.NumeroDocumento = $('#NumeroDocumento').val();
                    d.RazonSocial = $('#RazonSocial').val().toUpperCase();
                    d.CodigoCatastrlalRentas = '31033716211601';  //$("#CodigoDistrito").val() + $("#CodigoSector").val() + $("#CodigoManzana").val().substring(1) +
                    //$("#CodigoLote").val().substring(1) + $("#CodigoEdificacion").val().substring(1) + $("#CodigoEntrada").val().substring(1) +
                    //$("#CodigoPiso").val() + $("#CodigoUnidad").val().substring(1);
                }
            },
            "language": { "lengthMenu": "", "info": "", "emptyTable": "" },
            "processing": true,
            "serverSide": false,
            "scrollY": "400px",
            "scrollCollapse": true,
            "paging": false,
            "language": { "lengthMenu": "", "info": "", "emptyTable": "" },
            'columnDefs': [
                     { "width": "5%", "targets": 0 },
                     { "width": "7%", "targets": 1 },
                     { "width": "7%", "targets": 2 },
                     { "width": "40%", "targets": 3 },
                     { "width": "7%", "targets": 4 },
                     { "width": "7%", "targets": 5 },
                     { "width": "7%", "targets": 6 },
                     //{ 'targets': 7, 'checkboxes': { 'selectRow': true } },

            ],
            "columns": [
                { "data": "Item", "name": "Item", "className": "text-center" },
                { "data": "TipoDocumentoIdentidad", "name": "TipoDocumentoIdentidad ", "autoWidth": true, "className": "text-center" },
                { "data": "NumeroDocumentoIdentidad", "name": "NumeroDocumentoIdentidad ", "autoWidth": true, "className": "text-center" },
                { "data": "RazonSocial", "name": "RazonSocial ", "autoWidth": true, "className": "text-center" },
                { "data": "CodigoContribuyente", "name": "CodigoContribuyente", "autoWidth": true, "className": "text-center" },
                { "data": "TipoPropietario", "name": "TipoPropietario", "autoWidth": true, "className": "text-center" },
                { "data": "CodigoTipoPropietario", "name": "CodigoTipoPropietario ", "autoWidth": true, "className": "hide_column" },
                //{ "data": "Item", "name": "Item", "autoWidth": true, "className": "text-center" },
                //{ "data": "CodigoCorrelativoLote", "name": "CodigoCorrelativoLote", "autoWidth": true, "className": "hide_column" },
                //{ "data": "CodigoDocumento", "name": "CodigoDocumento", "autoWidth": true, "className": "hide_column" },

            ]
        });

        $("#btnBuscarTitular").click(function () {

            //if (!tablaTitularRentas){

            tablaTitularRentas.ajax.reload(function (res) {
                //console.log('2', res.data)

                var alto = $('#tablaTitularRentas_wrapper .dataTables_scrollBody').height();
                if (alto < 399) {
                    $('#tablaTitularRentas_wrapper .dataTables_scrollHead').removeClass('pr-4');

                } else {
                    $('#tablaTitularRentas_wrapper .dataTables_scrollHead').addClass('pr-4');
                }
                tablaTitularRentas.columns.adjust().draw(false);
            });
            $('#txtDocumentoIdentidad').val('');
            $('#txtNumeroDocIdentidad').val('');
            $('#txtCodigoContributente').val('');
            $('#txtContributente').val('');
            $('#txtTipoPropietario').val('');

            //} else {
            //    tablaTitularRentas.ajax.reload();
            //}

        });


        $('#tablaTitularRentas tbody').on('click', 'tr', function () {
            var row = $(this);
            var data = tablaTitularRentas.row(row).data();


            console.log(data);

            $.LoadingOverlay("show");
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
                $.LoadingOverlay("hide");
            }
            else {
                tablaTitularRentas.$('tr.selected').removeClass('selected');
                row.addClass('selected');
                $('#txtDocumentoIdentidad').val(data.CodigoTipoDocumentoIdentidad);
                $('#txtNumeroDocIdentidad').val(data.NumeroDocumentoIdentidad);
                $('#txtCodigoContributente').val(data.CodigoContribuyente);
                $('#txtContributente').val(data.RazonSocial);
                $('#txtTipoPropietario').val(data.TipoPropietario);

                $.LoadingOverlay("hide");
            }

        });


        $('#cbCondicionPropiedad').change(function () {
            if ($(this).val() === '010001') {
                $('#txtPorcentaje').val('100.0000');
            }
        });




        $("input[name=BusquedaRadio]").click(function () {
            if ($(this).val() === '1') {
                $(".DivCodigo").show();
                $(".DivTipoDocumento").hide();
                $(".DivRazonSocial").hide();

                $('#CodigoContribuyente').val('');
                $('#CodigoTipoDocumentoIdentidad').val('');
                $('#NumeroDocumento').val('');
                $('#RazonSocial').val('');

            } else if ($(this).val() === '2') {
                $(".DivCodigo").hide();
                $(".DivTipoDocumento").show();
                $(".DivRazonSocial").hide();
                $('#CodigoContribuyente').val('');
                $('#CodigoTipoDocumentoIdentidad').val('');
                $('#NumeroDocumento').val('');
                $('#RazonSocial').val('');
            } else if ($(this).val() === '3') {
                $(".DivCodigo").hide();
                $(".DivTipoDocumento").hide();
                $(".DivRazonSocial").show();
                $('#CodigoContribuyente').val('');
                $('#CodigoTipoDocumentoIdentidad').val('');
                $('#NumeroDocumento').val('');
                $('#RazonSocial').val('');
            }
        });

        $('#TituloDocumentos').text('Registrando Titular Catastral - UC ');
        //+ $("#CodigoDistrito").val() + '-' +
        //$("#CodigoSector").val() + '-' +
        //$("#CodigoManzana").val() + '-' +
        //$("#CodigoLote").val() + '-' +
        //$("#CodigoEdificacion").val() + '-' +
        //$("#CodigoEntrada").val() + '-' +
        //$("#CodigoPiso").val() + '-' +
        //$("#CodigoUnidad").val());

        $(".DivCodigo").show();
        $(".DivTipoDocumento").hide();
        $(".DivRazonSocial").hide();

        localStorage.setItem('TitularRentasSelec', "");

        //tablaTitularRentas.columns.adjust().draw();
        //

        $("#btnGrabarTitularRentas").on("click", function (event) {
            debugger;
            var estado = false;
            $.each(ListunidadCatastralDireccion, function (index, entry) {
                var Titular = new Object();
                Titular.CODUNI = entry.CODUNI;
                Titular.CodigoContribuyente = $('#txtCodigoContributente').val();
                Titular.CondicionPropiedad = $('#cbCondicionPropiedad').val();
                Titular.PorcentajeTitularidad = $('#txtPorcentaje').val();
                Titular.CodigoUni = entry.CODUNI;
                console.log(Titular);
                $.post("@Url.Content("~/UnidadCatastral/RegistrarTitularCatastral")", {
                    Titular: Titular,
                }, function (response) {
                    if (estado == false) {
                        estado = true;
                        if (response.success == true) {
                            CagarListadoMasivo();
                            toastr.success("Las Unidades Catastrales se registraron correctamente", "Mensaje del Sistema", { "progressBar": true });
                            $('#modalTitulariadad').modal('hide');
                        } else {
                            toastr.warning("Problema en el servidor", "Mensaje del Sistema", { "progressBar": true });
                        }
                    }
                });
            });
            //setTimeout(function () {
            //}, 3000);

        });
        @*$('#modalNuevoTitular').on('hidden.bs.modal', function () {
            if (localStorage.getItem('TitularRentasSelec')) {
                var rows = 0; var ListTitularRentas = JSON.parse(localStorage.getItem('TitularRentasSelec'));
                var ListaUnidadTitularSave = [];
                var unidadesYaRegistras = '';
                var contadorWarn = 0;
                $.each(ListTitularRentas, function (index, Item) {
                    if (CompararUnidadTitular(Item) === 0) {
                        ListaUnidadTitularSave.push(Item);
                        rows++;
                    }
                    else if (index === 0) {
                        contadorWarn++;
                        //toastr.warning("Uno o más registros ya se han ingresado", "Mensaje del Sistema", { "progressBar": true });
                    }
                });

                if (contadorWarn > 0) {
                    toastr.warning("Uno o más registros ya se han ingresado", "Mensaje del Sistema", { "progressBar": true });
                }

                if (ListaUnidadTitularSave.length > 0) {
                    $.post("@Url.Content("~/UnidadCatastral/RegistrarTitularCatastral")", {
                        ListaUnidadTitular: ListaUnidadTitularSave,
                        CodigoUniCat: $('#CodigoUnidadCatastral').val(),
                        //CodigoDistrito: $('#CodigoDistrito').val(),
                        //CodigoSector: $('#CodigoSector').val(),
                        //CodigoManzana: $('#CodigoManzana').val(),
                        //CodigoLote: $('#CodigoLote').val()
                    }
                    , function (response) {
                        toastr.success("Las Unidades Catastrales se registraron correctamente", "Mensaje del Sistema", { "progressBar": true });
                        tablaUnidadTitular.ajax.reload();

                        if (contadorWarn > 0) {
                            toastr.warning("Uno o más registros ya se han ingresado", "Mensaje del Sistema", { "progressBar": true });
                        }
                    });
                }
            }
        });*@

    });
</script>