@model MSI.Catastros.Web.Funcionalidad.UnidadCatastral.NumeracionPredioViewModel
<div id="RegistrarViasContainer">
    @Html.AntiForgeryToken()
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-hidden="true">
                    &times;
                </button>
                <h4 id="TituloGeneral">Registrando Vías Detalle</h4>
            </div>
            <div class="modal-body">
                @Html.HiddenFor(m => m.CodigoCorrDirecUnidad)
                <div class="row">
                    <div class="col-sm-12">
                        <div class="table-responsive">
                            <table id="TablaUnidadPaso1" class="display table table-bordered" width="100%">
                                <thead>
                                    <tr>
                                        <th>Dist</th>
                                        <th>Sec</th>
                                        <th>Mz</th>
                                        <th>Lote</th>
                                        <th>Ed</th>
                                        <th>Entr</th>
                                        <th>Piso</th>
                                        <th>Unidad</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="control-label">Asignación</label>
                            <select autofocus class="form-control px-2" id="Asignacion">
                                <option value=""> - Seleccione -</option>
                                <option value="010001">MUNICIPAL</option>
                                <option value="010002">CAMPO</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-9">
                        <div class="form-group">
                            <label class="control-label">Direccción de Lote</label>
                            <select class="form-control" id="CodigoVia"></select>
                            <span class="" data-valmsg-for="CodigoVia" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="control-label">Estado de Interior</label>
                            @Html.DropDownListFor(m => m.EstadoInterior, Model.ListEstadoInterior, "- Seleccione...", new { @class = "form-control" })
                            <span class="" data-valmsg-for="Cuadra" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="control-label">Tipo de Interior</label>
                            @*<input type="text" class="form-control" id="Lado" />*@
                            @Html.DropDownListFor(m => m.TipoInterior, Model.ListTipoInterior, "- Seleccione...", new { @class = "form-control" })
                            <span class="" data-valmsg-for="Cuadra" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="control-label">Número de Interior</label>
                            @Html.TextBoxFor(m => m.NumeroInterior, new { @class = "form-control", @maxlength = "4" })
                            <span class="" data-valmsg-for="Numero" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="control-label">Letra de Interior</label>
                            @Html.TextBoxFor(m => m.LetraInterior, new { @class = "form-control" })
                            <span class="" data-valmsg-for="Letra" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-md-offset-2 col-md-10">
                    <input id="btnSubmit" type="submit" value="Grabar" class="btn btn-success" />
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>



<script src="~/assets/vendor/datatables-checkboxes/js/dataTables.checkboxes.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        //CargarInteriores();
        //$('#TituloGeneral').text('Registrando Vías Detalle - UC: ' + $("#CodigoDistrito").val() + '-' +
        //$("#CodigoSector").val() + '-' +
        //$("#CodigoManzana").val() + '-' +
        //$("#CodigoLote").val() + '-' +
        //$("#CodigoEdificacion").val() + '-' +
        //$("#CodigoEntrada").val() + '-' +
        //$("#CodigoPiso").val() + '-' +
        //$("#CodigoUnidad").val())
        $('input').keyup(function () { this.value = this.value.toLocaleUpperCase() });
        tablaUnidadPaso1 = $("#TablaUnidadPaso1").DataTable({
            "processing": false,
            "serverSide": false,
            "paging": false,
            "language": { "lengthMenu": "", "info": "", "emptyTable": "" },
            "columns": [
                { "data": "Distrito", "className": "text-center" },
                { "data": "Sec", "className": "text-center" },
                { "data": "Manzana", "className": "text-center" },
                { "data": "Lote", "className": "text-center" },
                { "data": "Ed", "className": "text-center" },
                { "data": "Entr", "className": "text-center" },
                { "data": "Piso", "className": "text-center" },
                { "data": "Unidad", "className": "text-center" }
            ]
        });
        debugger;
        tablaUnidadPaso1.clear().draw();
        $.each(ListunidadCatastralDireccion, function (index, entry) {
            tablaUnidadPaso1.row.add(entry).draw();
        });

        $('#TituloGeneral').text('Registrando Vías Detalle - UC')
        if ('@Model.CodigoCorrDirecUnidad') {
            $('#Asignacion').val('@Model.Asignacion');
            CargarVias();
        }

        $("#Asignacion").change(function () {
            CargarVias();
        });

        $("#btnSubmit").on("click", function (event) {
            var estado = false;
            $.each(ListunidadCatastralDireccion, function (index, entry) {
                var NumeracionPredio = {
                    CodigoUni: entry.CODUNI, //entry.Unidad,
                    CodigoDistrito: entry.Distrito,
                    CodigoSector: entry.Sec,
                    CodigoManzana: entry.Manzana,
                    CodigoLote: entry.Lote,
                    Asignacion: $("#Asignacion").val(),
                    CodigoVia: $("#CodigoVia").val(),
                    EstadoInterior: $("#EstadoInterior").val(),
                    TipoInterior: $("#TipoInterior").val(),
                    NumeroInterior: $("#NumeroInterior").val(),
                    LetraInterior: $("#LetraInterior").val(),
                    CodigoCorrDirecUnidad: $("#CodigoCorrDirecUnidad").val(),
                    Opcion : "1"
                };
                $.ajax({
                    url: "@Url.Content("~/UnidadCatastral/RegistrarNumeroPredio")",
                    type: "POST",
                    data: { NumeracionPredio: NumeracionPredio },
                    dataType: "json",
                    success: function (response) {
                        //console.log(response);
                        if (estado == false) {
                            estado = true;
                            CagarListadoMasivo();
                            $('#modalNuevoPredio').modal('hide');
                            var mensaje = "Registro grabado correctamente";
                            toastr.success(mensaje, "Mensaje del Sistema", { "progressBar": true });
                        } 
                    },
                    complete: function () {
                    }
                });
            });
            //if (estado) {
            //    $('#modalNuevoPredio').modal('hide');
            //setTimeout(function () {
            //}, 3000);
            //    var mensaje = "Registro grabado correctamente";
            //    toastr.success(mensaje, "Mensaje del Sistema", { "progressBar": true });
            //}
        });
        function CargarVias() {
            var Unidad;
            $.each(ListunidadCatastralDireccion, function (index, entry) {
                Unidad = {
                    CodigoDistrito: entry.Distrito,
                    CodigoSector: entry.Sec,
                    CodigoManzana: entry.Manzana,
                    CodigoLote: entry.Lote,
                    Estatico: false
                };

            });
            $.ajax({
                url: "@Url.Content("~/UnidadCatastral/CargarListasNumeroPredio")",
                type: "POST",
                data: { Unidad: Unidad, Asignacion: $("#Asignacion").val() },
                dataType: "json",
                success: function (response) {
                    console.log(response);
                    if (response.success) {
                        ListarLoteVia = response.ListarLoteVia;
                        ListarTipoInterior = response.ListarTipoInterior;
                        ListarEstadoInterior = response.ListarEstadoInterior;
                        $('#CodigoVia').find('option:not(:first)').remove();
                        var items = '<option value="">Seleccione una Dirección del Lote</option>';
                        $.each(ListarLoteVia, function (i, item) {
                            items += "<option value='" + item.Value + "'>" + item.Text + "</option>";
                        });
                        $('#CodigoVia').html(items);
                        $('#CodigoVia').val('@Model.CodigoVia');

                    } else {

                    }
                },
                complete: function () {
                }
            });
        }

    });
</script>