@model MSI.Catastros.Web.Funcionalidad.Certificados.CertificadosViewModel
<fieldset class="formulario p-3">
    <legend id="legInforme" style="margin-bottom:-10px;">Resolución de Numeración</legend>
    @using (Html.BeginForm("Registrar", "Certificado", FormMethod.Post, new { id = "frmCertificadosNumeracion", name = "frmCertificadosNumeracion" }))
    {
        @Html.TextBoxFor(m => m.FiltrarCodigoCertificado, new { @class = "form-control change", type = "hidden" })
        @Html.AntiForgeryToken()
    <div class="row mt-3 px-3" style="display:none;">
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label" id="lblTitulo" for="Titulo">Numero de Documento</label>
                @Html.TextBoxFor(m => m.Titulo, new { @class = "form-control change", disabled = true })
            </div>
        </div>
    </div>
        <div class="row mt-3 px-3">
            <div class="col-md-2">
                <div class="form-group">
                    <label class="control-label" id="lblFechaGeneracion" for="FechaGeneracion">Fecha de Emisión</label>
                    @Html.TextBoxFor(m => m.FechaGeneracion, new { @class = "form-control change", type = "date", disabled = true })
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label class="control-label" id="lblNumeroSolicitud" for="NumeroSolicitud">N° Expediente</label>
                    @Html.TextBoxFor(m => m.NumeroSolicitud, new { @class = "form-control change", disabled = true })
                </div>
            </div>
        </div>
        <div class="row mt-3 px-3">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label" id="lblUrbanizacion" for="Urbanizacion">Urbanizacion</label>
                    @Html.TextBoxFor(m => m.Urbanizacion, new { @class = "form-control change", disabled = true })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label" id="lblManzanaUrbana" for="ManzanaUrbana">Manzana</label>
                    @Html.TextBoxFor(m => m.ManzanaUrbana, new { @class = "form-control change", disabled = true })
                </div>
            </div>
        </div>
        <div class="row px-3">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label" id="lblLoteUrbano" for="LoteUrbano">Lote</label>
                    @Html.TextBoxFor(m => m.LoteUrbano, new { @class = "form-control change", disabled = false })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label" id="lblSubLoteUrbano" for="SubLoteUrbano">SubLote</label>
                    @Html.TextBoxFor(m => m.SubLoteUrbano, new { @class = "form-control change", disabled = true })
                </div>
            </div>
        </div>
        <hr class="mx-3 mt-1 mb-0" />
        <div class="row px-3">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label" id="lblCodigoCatastral" for="CodigoCatastral">Código Catastral</label>
                    <input type="text" class="form-control" id="CodigoCatastralVer" name="CodigoCatastralVer" disabled />
                    @Html.TextBoxFor(m => m.CodigoCatastral, new { @class = "form-control change", disabled = true, type ="hidden" })
                </div>
            </div>
            <div class=" col-md-2" style="display:none;">
                <div class="form-group">
                    <label class="control-label" id="lblCodigoUnico" for="CodigoUnico">Código Unico Cat.</label>
                    @*@Html.TextBoxFor(m => m.Parrafo1, new { @class = "form-control change" })*@
                    @Html.TextBoxFor(m => m.CodigoUnico, new { @class = "form-control change", disabled = true })
                </div>
            </div>
        </div>
        <hr class="mx-3 mt-1 mb-0" />
        <div class="row px-3">
            <div class="col-md-12">
                <table id="tablaEntradasMunicipal" style="width:100%" class="table responsive display table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Código Vía</th>
                            <th>Tipo Vía</th>
                            <th>Nombre Vía Actual</th>
                            <th>Nombre Vía Anterior</th>
                            <th>B|T|E</th>
                            <th>Tipo de Puerta</th>
                            <th>Número</th>
                            <th>Interior</th>
                            <th>Nivel</th>
                            <th>Descripción</th>
                            <th style="display:none"></th>
                            <th style="display:none"></th>
                        </tr>
                    </thead>
                    <tbody class="CamposEntradas"></tbody>
                </table>
            </div>
        </div>
        <div class="row  px-3">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label" id="lblAnotaciones" for="Anotaciones">Anotaciones</label>
                    @Html.TextAreaFor(m => m.Anotaciones, new { @class = "form-control change", rows = "5" })
                </div>
            </div>
            
        </div>
        <hr class="mx-3 mt-0 mb-3" />
        }
</fieldset>

<script src="~/assets/vendor/bootstrap-multiselect/bootstrap-multiselect.js"></script>
<script src="~/assets/vendor/datatables-checkboxes/js/dataTables.checkboxes.min.js"></script>
<script>
    //$('input').keyup(function () { this.value = this.value.toLocaleUpperCase() });
    if ($('#NombreAreaSolicitante').val() == "") {
        $('#NombreTipoDocumento').val("");
    }
    RecuperarUrbanizacion();
    var codCat = $('#CodigoCatastral').val();
    $('#CodigoCatastralVer').val(codCat.slice(0, 2) + "-" + codCat.slice(2, 4) + "-" + codCat.slice(4, 7) + "-" + codCat.slice(7, 10) + "-" + codCat.slice(10, 12) + "-" + codCat.slice(12, 14) + "-" + codCat.slice(14, 16) + "-" + codCat.slice(16, 19))
    CrearCamposEntradasVias();
    function CrearCamposEntradasVias() {
        $('.CamposEntradas').children('tr').remove();
        $('#Interior').val(''); var codigoInterior = '';
        $.post("@Url.Content("~/Certificados/CargarCertificadoEntradasVias")",
            { FiltrarCodigoTipoSolicitud: $('#FiltrarCodigoTipoSolicitud').val(), FiltrarNumeroSolicitud : $('#FiltrarNumeroSolicitud').val(),
                FiltrarCodigoPeriodo: $('#FiltrarCodigoPeriodo').val(), FiltrarCodigoTipoCertificado : $('#FiltrarCodigoTipoCertificado').val(),
                FiltrarCodigoCertificado : $('#FiltrarCodigoCertificado').val(), FiltrarCodigoTipoDocumentoReg: $('#FiltrarCodigoTipoDocumentoReg').val(),
                CodigoDistrito: $('#CodigoCatastral').val().substring(0, 2), CodigoSector: $('#CodigoCatastral').val().substring(2, 4),
                CodigoManzana: $('#CodigoCatastral').val().substring(4, 7), CodigoLote : $('#CodigoCatastral').val().substring(7, 10),
                CodigoEdificacion : $('#CodigoCatastral').val().substring(10, 12), CodigoEntrada : $('#CodigoCatastral').val().substring(12, 14),
                CodigoPiso: $('#CodigoCatastral').val().substring(14, 16), CodigoUnidad: $('#CodigoCatastral').val().substring(16, 19)
            }, function (r) {
                $.each(r.SolicitudUnidad, function (index, Item) {
                    index = index + 1;
                    $('.CamposEntradas').append(
                        '<tr id="filaVias' + index + '">' +
                            '<td>' + '<input type="text" disabled id="CodigoVia' + index + '" class="form-control text-center input-table" value="' + Item.CodigoVia + '">' +'</td>' +
                            '<td>' + '<input type="text" disabled id="NombreTipoVia' + index + '" class="form-control text-center input-table" value="' + Item.NombreTipoVia + '">' + '</td>' +
                            '<td>' + '<input type="text" disabled id="NombreVia' + index + '" class="form-control text-center input-table" value="' + Item.NombreVia + '">' + '</td>' +
                            '<td>' + '<input type="text" disabled id="NombreViaAnt' + index + '" class="form-control text-center input-table" value="' + Item.NombreViaAnt + '">' + '</td>' +
                            '<td>' + '<input type="text" disabled id="TipoInterior' + index + '" class="form-control text-center input-table" value="' + Item.TipoInterior + '">' + '</td>' +
                            '<td>' + '<input type="text" disabled id="TipoPuerta' + index + '" class="form-control text-center input-table" value="' + Item.TipoPuerta + '">' + '</td>' +
                            '<td>' + '<input type="text" disabled id="NumeroPuerta' + index + '" class="form-control text-center input-table" value="' + Item.NumeroPuerta + '">' + '</td>' +
                            '<td>' + '<input type="text" disabled id="Interior' + index + '" class="form-control text-center input-table" value="' + Item.Interior + '">' + '</td>' +
                            '<td>' + '<input type="text" id="Nivel' + index + '" class="form-control text-center input-table" value="' + Item.Nivel + '">' + '</td>' +
                            '<td>' + '<input type="text" disabled id="Descripcion' + index + '" class="form-control text-center input-table" value="' + Item.DescripcionInscrip + '">' + '</td>' +
                            '<td style="display:none">' + '<input type="text" disabled id="CodigoTipoInterior' + index + '" class="form-control text-center input-table" value="' + Item.CodigoTipoInterior + '">' + '</td>' +
                            '<td style="display:none">' + '<input type="text" disabled id="FiltrarCodigoCorrelativo' + index + '" class="form-control text-center input-table" value="' + Item.FiltrarCodigoCorrelativo + '">' + '</td>' +
                        '</tr>'
                    );
                });
            });
        var codviaTemp;
        $('#Interior').val(codigoInterior.substring(1));

    }

    function RecuperarUrbanizacion(ubicacion) {
        var URLObservacion = "@Url.Content("~/Certificados/BuscarUrbanizacion")";var Codigo = $('#CodigoCatastral').val();
        $.post(URLObservacion, { CodigoSector: Codigo.substring(2, 4), CodigoManzana: Codigo.substring(4, 7), CodigoLote: Codigo.substring(7, 10),  CodigoUnico: $('#CodigoUnico').val() },
        function (r) {
            $('#NombreViaEsq').children('option:not(:first)').remove();
            if (r.SolicitudUnidad) {
                var datos = r.SolicitudUnidad;

                var ind1 = datos.indexOf("|") + 1; var ind2 = datos.indexOf("|", ind1) + 1; var ind3 = datos.indexOf("|", ind2) + 1;
                var ind4 = datos.indexOf("|", ind3) + 1;
                console.log(datos,ind1,ind2,ind3);
                $('#Urbanizacion').val(datos.substring(0, ind1 - 1)); $('#ManzanaUrbana').val(datos.substring(ind1, ind2 - 1));
                //var loteurb = "PARTE DEL LOTE " + datos.substring(ind2, ind3 - 1);
                var loteurb = datos.substring(ind2, ind3 - 1);
                $('#LoteUrbano').val(loteurb)
                var sublote = datos.substring(ind3,ind4 -1);    $('#SubLoteUrbano').val((sublote) ? sublote : "---");
            }
        });
    }
    RecuperarUrbanizacion();
    function RecuperarUrbanizacion(ubicacion) {
        var URLObservacion = "@Url.Content("~/Certificados/BuscarUrbanizacion")";
        var Codigo = $('#CodigoCatastral').val();
        console.log(Codigo);
        $.post(URLObservacion, {
            CodigoSector: Codigo.substring(2, 4), CodigoManzana: Codigo.substring(4, 7), CodigoLote: Codigo.substring(7, 10),
            CodigoUnico: $('#CodigoUnico').val()
        },
        function (r) {
            $('#NombreViaEsq').children('option:not(:first)').remove();
            if (r.SolicitudUnidad) {
                var datos = r.SolicitudUnidad;
                var ind1 = datos.indexOf("|") + 1; var ind2 = datos.indexOf("|", ind1) + 1; var ind3 = datos.indexOf("|", ind2) + 1;
                var ind4 = datos.indexOf("|", ind3) + 1;
                $('#Urbanizacion').val(datos.substring(0, ind1 - 1));
                $('#ManzanaUrbana').val(datos.substring(ind1, ind2 - 1));
                //var loteurb = "PARTE DEL LOTE " + datos.substring(ind2, ind3 - 1);
                var loteurb = datos.substring(ind2, ind3 - 1);
                $('#LoteUrbano').val(loteurb)
                var sublote = datos.substring(ind3,ind4 -1);
                $('#SubLoteUrbano').val((sublote) ? sublote : "---");
                $('#InscripcionCatastral').val(datos.substring(ind4));

            }
        });
    }

</script>
