@model MSI.Catastros.Web.Funcionalidad.Dociso.DocisoViewModel
@using (Html.BeginForm())
{
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
</button>
                <h4>Registrar Documento ISO </h4>
               
            </div>
            <div class="modal-body">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <div class="row">
                    <div class="col-md-12">
                        @Html.LabelFor(model => model.txtDescripcion)
                        @Html.TextBoxFor(model => model.txtDescripcion, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.txtDescripcion)
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        @Html.LabelFor(model => model.TpDocumento, htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownListFor(m => m.codTpDocumento, Model.TpDocumento, "- Seleccione -", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.codTpDocumento)
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btnRegistrar" type="button" class="btn btn-success btn-sm">Grabar</button>
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
}
<script>
    $(function () {
        $("#btnRegistrar").click(function () {
            var modelo = new Object();
            modelo.txtDescripcion = $("#txtDescripcion").val();
            modelo.codTpDocumento = $("#codTpDocumento").val();
            modelo.Estado = 1;
           $.ajax({
               // url: "/DocIso/Registrar", type: "POST", dataType: "json",
                  url: "@Url.Content("~/DocIso/Registrar")", type: "POST", dataType: "json",
                    data: modelo,
                    success: function (response) {
                        if (response.success) {                            
                            toastr.success(response.responseText, "Mensaje del Sistema", { "progressBar": true });
                            tablaDocIso.clear().draw();
                            tablaDocIso.ajax.reload();
                            $("#modalDocIso").modal('hide')
                        } else {
                            toastr.error(response.responseText, "Mensaje del Sistema", { "progressBar": true });
                        }
                    },
                    error: function (response) {
                        var modelStateErrors = response.responseJSON;
                        for (var i = 0; i < modelStateErrors.length; i++) {
                            $('span[data-valmsg-for="' + modelStateErrors[i].key + '"]').text(modelStateErrors[i].errors[0]).addClass('has-error');
                        }
                        //toastr.error("Se encontro un problema al momento de registrar", "Mensaje del Sistema", { "progressBar": true });
                    },
                    complete: function (response) {
                       
                    }
                });
        });
    });
</script>